.page-footer {
  min-height: 233px;
  width: 100%;
}

.page-footer__inner {
  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 60px;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-left: 104px;
    padding-right: 120px;
    padding-top: 36px;
  }
}

.page-footer__tag {
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 45px;
}

.page-footer__copyright {

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
