.intro {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 57px;
    margin: 0 auto;

    position: absolute;
    top: 101px;
    left: 0;
    right: 0;

    background-image: url("../img/intro-triangle-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @media (min-width: $tablet-width) {
      top: 233px;
    }

    @media (min-width: $desktop-width) {
      top: 244px;
    }
  }
}

.intro__inner {
  min-height: 158px;
  background-color: $blue-hover;
  background-image: url("../img/back-intro-mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-intro-mobile@2x.jpg");
    background-size: 320px;
  }

  @media (min-width: $tablet-width) {
    min-height: 290px;
    background-image: url("../img/back-intro-tablet.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-intro-tablet@2x.jpg");
      background-size: 758px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
    width: 100%;

    background-image: url("../img/back-intro-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-intro-desktop@2x.jpg");
      background-size: 1200px;
    }
  }
}

.intro__img {
  width: 100%;
  padding-top: 52px;
  padding-right: 45px;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-left: 150px;
    padding-right: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-left: 370px;
    padding-right: 370px;
  }
}

.intro__description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 166px;
    padding-right: 168px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 382px;
    padding-right: 384px;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.intro__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $darkGray;
}
