.reason-card {
  background-color: $blue;

  display: grid;
  grid-template: column;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.reason-card--brief {
  position: relative;

  // doesnt work, cant remove last line //


  // &:not(:last-child)::after {
  //   content: "";
  //   width: 280px;
  //   height: 1px;

  //   position: absolute;
  //   bottom: 0;
  //   left: 20px;

  //   background-color: $gray4;
  // }

  &::after {
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $gray4;
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    grid-template-columns: 1fr;

    &::after {
      display: none;
    }
  }
}


.reason-card__description {
  min-height: 211px;
  padding-top: 55px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 39px;
  background-color: $blue;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 44px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-right: 52px;
    padding-bottom: 57px;
    padding-left: 53px;
  }
}

.reason-card--second .reason-card__description {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reason-card--brief .reason-card__description {
  min-height: 167px;
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: $gray;
  color: $black;
}

.reason-card--brief .reason-card__inner {
  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 20px;

  }
}

.reason-card__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.reason-card__number {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
}

.reason-card__text {
  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

.reason-card__img {
  display: block;
  width: 100%;
}
