.reason-card {
  background-color: $blue;

  display: grid;
  grid-template: column;

  @media (min-width: $tablet-width) {
    grid-template-columns: 256px 512px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 800px;
    height: 256px;
  }
}

.reason-card--brief {
  position: relative;

  // doesnt work, cant remove last line //


  // &:not(:last-child)::after {
  //   content: "";
  //   width: 280px;
  //   height: 1px;

  //   position: absolute;
  //   bottom: 0;
  //   left: 20px;

  //   background-color: $gray4;
  // }

  &::after {
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $gray4;
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    grid-template-columns: 1fr;

    &::after {
      display: none;
    }
  }
}


.reason-card__description {
  min-height: 211px;
  padding-top: 55px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 39px;
  background-color: $blue;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 44px;
    padding-left: 32px;
    width: 256px;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-top: 47px;
    padding-right: 62px;
    padding-bottom: 57px;
    padding-left: 63px;
  }
}

.reason-card--second {
  @media (min-width: $tablet-width) {
    grid-template-columns: 512px 256px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 800px 400px;
  }
}

.reason-card--second .reason-card__picture {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.reason-card--second .reason-card__description {
  @media (min-width: $tablet-width) {
    // order: 2;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 81px;
    padding-right: 85px;
  }
}

.reason-card--second .reason-card__title {
  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 44px;
    padding-right: 40px;
    padding-top: 4px;
  }
}

.reason-card--brief .reason-card__description {
  min-height: 167px;
  padding-top: 42px;
  padding-bottom: 24px;
  background-color: $gray;
  color: $black;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      padding-left: 33px;
      padding-right: 34px;
    }

    &:nth-child(2) {
      padding-left: 46px;
      padding-right: 48px;
    }
  }
}


// .reason-card--brief .reason-card__inner {
//   @media (min-width: $tablet-width) {
//     padding-left: 15px;
//     padding-right: 20px;
//   }
// }

.reason-card__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
    padding-right: 35px;
  }
}

.reason-card__number {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.reason-card__text {
  margin: 0;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.reason-card__img {
  display: block;
  width: 100%;
  height: 100%;
}
