.reviews__inner {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.reviews__description {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 106px;
    padding-right: 106px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 262px;
    padding-right: 262px;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $darkGray;
}
