.social__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  width: 46px;
  height: 48px;

  display: block;
  position: relative;

  background-color: $blue;

}
