.toolbar {
  width: 100%;
  height: 111px;
  position: absolute;
  bottom: -66px;
  left: 0;
}

.toolbar__timeline {
  min-height: 45px;
  min-width: 280px;
  background-color: $black;
  opacity: 60%;

  position: relative;
}

.toolbar__time-scale {
  width: 280px;
  height: 3px;
  background-color: $white;
  opacity: 20%;
  padding-left: 22px;

  position: absolute;
  top: 22px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 389px;

    left: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;

    left: 93px;
  }
}

.toolbar__time-toggle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $white;
  position: absolute;
  top: 17px;
  left: 56px;

  @media (min-width: $tablet-width) {
    left: 204px;
  }

  @media (min-width: $desktop-width) {
    left: 204px;
  }
}

.toolbar__controls {
  min-height: 66px;
  min-width: 280px;
  background-color: $lightGray;
}
