.user-visited {
  @media (min-width: $tablet-width) {
    border: none;
  }
}

// .user-visited__text {
//   @media (min-width: $tablet-width) {
//     width: 308px;
//     padding: 0 20px;
//   }
// }

.user-visited__text {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 12;
    background-color: $white;
    display: inline-block;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 50px;
  }
}


.user-visited__list {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 95px;
    padding-right: 64px;
    padding-top: 41px;
    text-align: left;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    column-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0;
    column-gap: 50px;

    padding-top: 39px;
    padding-left: 0;
    padding-right: 0;
  }
}


.user-visited__item {
  margin-bottom: 54px;

  &:last-child {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.user-visited__label span {
  padding-left: 76px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: $black;

  cursor: pointer;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -2px;

    width: 55px;
    height: 55px;
    border-radius: 5px;

    background-color: $lightGray;
  }
}

.user-visited__label span:hover::before {
  background-color: $gray5;
}

.user-visited__label span:active::before {
  background-color: $gray7;
}

.user-visited__input:checked + span::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 15px;

  width: 23px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.user-visited__input:checked + span:active::after {
  opacity: 30%;
}
