.video {
  position: relative;
}

.video__description {
  padding-left: 28px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 161px;
    padding-right: 162px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 378px;
  }
}

.video__title {

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video__text {
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  color: $darkGray;
}

.video__content {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video__img {
  display: block;
  width: 100%;
}

.video__toolbar {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video__reload {
  @include btn-reset;

  margin-left: 25px;
  margin-right: 133px;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 45px;
    left: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 40px;
    left: 240px;
  }
}

.video__subtitles {
  @include btn-reset;

  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    top: 45px;
    right: 180px;
  }

  @media (min-width: $desktop-width) {
    top: 40px;
    right: 300px;
  }
}

.video__full-screen {
  @include btn-reset;

  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    position: absolute;
    top: 45px;
    right: 120px;
  }

  @media (min-width: $desktop-width) {
    top: 40px;
    right: 250px;
  }
}

.video__icon {
  color: $special-gray;

  &:hover {
    color: $darkGray;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    color: $white;

    &:hover {
      color: $white-opacity6;
    }

    &:active {
      color: $white-opacity3;
    }
  }
}
